In [24]:
a = "city"

In [1]:
# 1.Basic Syntax: Use % followed by a tuple of values or a single value (if only one placeholder) to substitute into the string.
name = "Alice"
lastname = "david"
age = 30

In [3]:
print(name, lastname)

Alice david

In [7]:
formatted_string = "My name is %s %s and I am %d years old." % (lastname, name, age)

In [ ]:
#Formatting Options:
# %s for strings
# %d for integers
# %.f for floating-point numbers

In [5]:
formatted_string

'My name is david Alice and I am 30 years old.'

In [13]:
number = 3.14159
name = "pi"
formatted_number = "The value of %s is approximately %.2f" % (name, number)
print(formatted_number)

The value of pi pi is approximately 3.14

In [15]:
#Basic Syntax: Use {} placeholders inside the string and call .format() with arguments.
		 
name = "Bob"
age = 25

formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)

My name is Bob and I am 25 years old.

In [16]:
#Positional arguments:

formatted_string = "First: {1}, Second: {0}".format("A", "B")
formatted_string

'First: B, Second: A'

In [18]:
name = "Bob"
age = 25

formatted_string = "My name is {1} and I am {0} years old.".format(age, name)
print(formatted_string)

My name is Bob and I am 25 years old.

In [19]:
# f-string

name = "Alice"
age = 30
occupation = "engineer"

In [20]:
sentence = f"My name is {name}, I am {age} years old, and I work as an {occupation}."
print(sentence)

My name is Alice, I am 30 years old, and I work as an engineer.

In [23]:
"my name is", name, "i am ", age , "years old, and i work as an", occupation

('my name is', 'Alice', 'i am ', 30, 'years old, and i work as an', 'engineer')

In [25]:
f"abc {a}"

'abc city'

In [28]:
sub = "math, science"
score = "68, 75"

print(f"my sub is {sub} and i got scores {score}.")

my sub is math, science and i got scores 68, 75.

In [29]:
sub = "math" 
sub2 = "science"
score = 68
score2 =  75

In [31]:
print(f"my first sub and score is {sub}, {score}, and second sub and score is {sub2},{score2}.")

my first sub and score is math, 68, and second sub and score is science,75.

In [32]:
print(f"my first sub and score is {sub, score} and second sub and score is {sub2},{score2}.")

my first sub and score is ('math', 68) and second sub and score is science,75.

### Index

In [33]:
var = "python "

In [34]:
var[3]

'h'

In [35]:
var[-2]

'n'

In [36]:
lis = [2,4,6,8,10]

In [37]:
lis[0]

2

In [38]:
lis[4]

10

In [39]:
lis[-2]

8

In [40]:
tup = ("red", "blue", "black")

In [41]:
tup[2]

'black'

In [42]:
tup[-1]

'black'

In [43]:
s = {2,3,4,5,6,2}

In [44]:
s[3]

TypeError: 'set' object is not subscriptable

In [46]:
d = {"jan" : 31, "feb":28, "march":31}

In [47]:
d["feb"]

28

### Slicing

In [52]:
sv = "data analytics professional"

In [53]:
sv[2:8]

'ta ana'

In [54]:
sv[:8]

'data ana'

In [55]:
sv[3:]

'a analytics professional'

In [57]:
sv[2:20:2]

't nltc rf'

In [60]:
sv[::-1]

'lanoisseforp scitylana atad'

In [63]:
lis[2:4]

[6, 8]

In [64]:
lis[2:]

[6, 8, 10]

In [66]:
s[2:8]

TypeError: 'set' object is not subscriptable

In [69]:
tup[:2]

('red', 'blue')

In [70]:
tup

('red', 'blue', 'black')

In [71]:
tup[::-1]

('black', 'blue', 'red')

In [73]:
d[2:]

TypeError: unhashable type: 'slice'

### Concate

In [75]:
name

'Alice'

In [77]:
var

'python '

In [79]:
name +" "+ var

'Alice python '

In [80]:
lis + lis

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]

In [81]:
lis + tup

TypeError: can only concatenate list (not "tuple") to list

In [82]:
tup + tup

('red', 'blue', 'black', 'red', 'blue', 'black')

In [84]:
s + s

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [85]:
d + d

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

### Repeat

In [86]:
var

'python '

In [88]:
var * 30

'python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python '

In [89]:
lis * 3

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10]

In [90]:
tup * 2

('red', 'blue', 'black', 'red', 'blue', 'black')

### Mutation

In [93]:
var[2] = "T"

TypeError: 'str' object does not support item assignment

In [96]:
tup[0] = "yellow"

TypeError: 'tuple' object does not support item assignment

In [99]:
lis[3] = 88

In [100]:
lis

[2, 4, 6, 88, 10]

In [102]:
d["jan"] = 32

In [103]:
d

{'jan': 32, 'feb': 28, 'march': 31}

In [105]:
s1 = "object does not"
s2 = "support item assignment"

In [107]:
print(s1)
print(s2)

object does not
support item assignment

In [108]:
print(s1, end = " ")
print(s2)

object does not support item assignment