In [2]:
marks = int(input())

if marks < 600:
    print("NO GRE")
    if marks < 500:
        print("TOFEL")
        if marks < 400:
            print("Try something else")
    else:
        print("YOU GOT TOFEL")
        
elif marks > 600:
    print("you will get IIT")
    if marks > 700:
        print("you will get IIM")
    else:
        print("try next time")
else:
    print("You got GRE congratulations")

 799

you will get IIT
you will get IIM

In [3]:
mark = int(input("entrance exam marks"))

if mark > 700:
    print()
    if mark :
        print()
    elif:
        print()
        if:
            print()
        else:
            print()
    else:
        print()
elif:
    print()
    
else:
    print()

SyntaxError: invalid syntax (613152775.py, line 7)

In [7]:
n = int(input("enter a number "))

if n==2:
    print("it is a prime number ", n)
elif n==3:
    print("it is a prime number ", n)
    
elif n%3==0 or n%2==0 or n%5==0 or n%7==0:
    print("it is divisible by 3 or 2 or 5")
else:
    print("it is a prime number")

enter a number  123

it is divisible by 3 or 2 or 5

In [9]:
name = input("enter a name of employee ")
gender = input("enter gender of employee  ")
first_base_salary = int(input("enter basic salary of employee "))
year_of_experience = eval(input("enter experience "))
salary_increase_rate = eval(input("enter incrament rate "))

gross_salary = first_base_salary * (1 + salary_increase_rate * year_of_experience)
gross_salary = int(gross_salary)
net_salary = gross_salary - (first_base_salary*0.15)
net_salary = int(net_salary)
print("gross_salary -", gross_salary)
print("net_salary -", net_salary)

bonus_thresold = 2

if year_of_experience >= 10:
    if gender == "f":
        bonus_rate = 0.2
        bonus = net_salary * bonus_rate
        print("Bonus = ", int(bonus))
        if year_of_experience <=15 and gross_salary >= 100000:
            aditional_bonus = 11000
            total_bonus = bonus + aditional_bonus
            print("overall_Bonus = ", bonus, "+", aditional_bonus,"=", int(total_bonus))
            if net_salary >= 100000:
                print("You will get early personal cabin")
        if year_of_experience > 15 and net_salary >= 100000:
            aditional_bonus = 11000
            total_bonus = bonus + aditional_bonus
            print("overall_Bonus = ", bonus, "+", aditional_bonus,"=", int(total_bonus))
            print("You will get personal cabin")
    elif gender == "m":
        bonus_rate = 0.18
        bonus = net_salary * bonus_rate
        print("Bonus = ", int(bonus))
        if year_of_experience <=15 and gross_salary >= 100000:
            aditional_bonus = 10000
            total_bonus = bonus + aditional_bonus
            print("overall_Bonus = ", bonus, "+", aditional_bonus,"=", int(total_bonus))
            if net_salary >= 100000:
                print("You will get early personal cabin")
        if year_of_experience > 15 and net_salary >= 100000:
            aditional_bonus = 10000
            total_bonus = bonus + aditional_bonus
            print("overall_Bonus = ", bonus, "+", aditional_bonus,"=", int(total_bonus))
            print("You will get personal cabin")  
elif year_of_experience>= 6 < 10:
    if gender == "f":
        bonus_rate = 0.15
        bonus = net_salary * bonus_rate
        print("Bonus = ", bonus)
        if gross_salary >= 75000:
            print("Get promoted ")
            if net_salary>= 70000:
                print("Early promoted ")
        else:
            print("better luck next year")
    elif gender == "m":
        bonus_rate = 0.14
        bonus = net_salary * bonus_rate
        print("Bonus = ", bonus)
        if gross_salary >= 75000:
            print("Get promoted ")
            if net_salary>= 70000:
                print("Early promoted ")
        else:
            print("better luck next year")        
elif year_of_experience > 2 <=5:
    if gender == "f":
        bonus_rate = 0.12
        bonus = net_salary * bonus_rate
        print("Bonus = ", bonus)
        if gross_salary>= 50000:
            print("Get regularization ")
            if net_salary>= 45000:
                print("Get early regularization")
    elif gender == "m":
        bonus_rate = 0.10
        bonus = net_salary * bonus_rate
        print("Bonus = ", bonus)
        if gross_salary>= 50000:
            print("Get regularization ")
            if net_salary>= 45000:
                print("Get early regularization")
else:
    print("No bonus for employee")

enter a name of employee  abc
enter gender of employee   m
enter basic salary of employee  33000
enter experience  6
enter incrament rate  0.2

gross_salary - 72600
net_salary - 67650
Bonus =  9471.0
better luck next year

### LOOP

In [ ]:
for
while
iter

In [ ]:
iterable - str/list/tuple/set/dict

In [ ]:
iterator
iteration

In [10]:
list = [3,4,5,6,7,9]

In [11]:
for i in list:
    print(i)

3
4
5
6
7
9

In [13]:
for i in range(3,10):
    print(i**2)

9
16
25
36
49
64
81

In [14]:
l = [1,2,3,4,"sudh" ,"kumar" , 45.56]

In [15]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45.56

In [16]:
for i in l:
    print("py")

py
py
py
py
py
py
py

In [17]:
str1 = "this is my first string"
str2 = "this is my second string"

In [18]:
for i in str1 :
    print(i)

t
h
i
s

i
s

m
y

f
i
r
s
t

s
t
r
i
n
g

In [19]:
for i in 76567:
    print(i)

TypeError: 'int' object is not iterable

In [20]:
for i in "76567":
    print(i)

7
6
5
6
7

In [31]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [32]:
for x in range(10):
    print(x, "Python")

0 Python
1 Python
2 Python
3 Python
4 Python
5 Python
6 Python
7 Python
8 Python
9 Python

In [33]:
for x in range(10):
    print("Python", end = " ")

Python Python Python Python Python Python Python Python Python Python

In [34]:
for i in l :
    pass
    print(i)

1
2
3
4
sudh
kumar
45.56

In [35]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will execute else

In [36]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [37]:
for i in l :
    if i == 4 :
        pass
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3
4
sudh
kumar
45.56
this will execute only if for is going to complete itself

In [38]:
for i in l :
    if i == 4 :
        continue 
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3
sudh
kumar
45.56
this will execute only if for is going to complete itself

In [39]:
s = "sudhanshu"
for i in s :
    if i == 'n' :
        break
    print(i)
else :
    print("print srtring " , s )

s
u
d
h
a

In [40]:
t = (4,5,6,7,8,6,"sudh")

for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [41]:
b = {4,5,6,7,7,7,7,7,7,7,7, 8,"sudh"}
for i in b:
    print(i)

sudh
4
5
6
7
8

In [42]:
d = {'key1' :"sudh" , 'contact' : "gmail" , "position" : "mentor"}

In [43]:
for i in d:
    print(i)

key1
contact
position

In [44]:
for i in d.values():
    print(i)

sudh
gmail
mentor

In [45]:
for i in d.items():
    print(i)

('key1', 'sudh')
('contact', 'gmail')
('position', 'mentor')

In [51]:
for i,k in d.items():
    print(i,":",k)

key1 : sudh
contact : gmail
position : mentor

In [52]:
d

{'key1': 'sudh', 'contact': 'gmail', 'position': 'mentor'}

In [56]:
for i in d :
    print(i,":",d[i])

key1 : sudh
contact : gmail
position : mentor

In [59]:
n = 5
for i in range(n) :
    for j in range(0, i+1) : 
        print("DA", end = " ")
    print("\n")

DA

DA DA

DA DA DA

DA DA DA DA

DA DA DA DA DA

In [60]:
# Nested loop: Iterate through rows and columns of a matrix
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for row in matrix:
    for element in row:
        print(element, end=" ")
    print()  # Print a new line after each row

1 2 3
4 5 6
7 8 9

In [62]:
# Iterate with index and value
fruits = ['apple', 'banana', 'cherry']
for i, j in enumerate(fruits):
    print(i ," -", j)

0  - apple
1  - banana
2  - cherry

In [63]:
# Create a list of squares using list comprehension
[x**2 for x in range(5)]

[0, 1, 4, 9, 16]

In [64]:
# Iterate over two lists simultaneously
names = ['Alice', 'Bob', 'Charlie']
scores = [90, 85, 88]

for i, k in zip(names, scores):
    print(f"{i}: {k}")

Alice: 90
Bob: 85
Charlie: 88

In [65]:
for i in zip(names, scores):
    print(i)

('Alice', 90)
('Bob', 85)
('Charlie', 88)

In [66]:
# Print only even numbers from 0 to 9
for i in range(10):
    if i % 2 == 0:
        print(i)

0
2
4
6
8

In [67]:
for i in range(10):
    if i % 3 == 0:
        print(i)

0
3
6
9

In [68]:
# Loop in reverse order
for i in reversed(range(5)):
    print(i)

4
3
2
1
0

In [70]:
# Or using negative step in range()
for i in range(4, -1, -2):
    print(i)

4
2
0

In [71]:
n = 5  # Number of rows
for i in range(1, n + 1):
    print('*' * i)

*
**
***
****
*****

In [74]:
n = 5  # Number of rows
for i in range(1, n + 1):
    print('DA ' * i)
    print()

DA

DA DA

DA DA DA

DA DA DA DA

DA DA DA DA DA

In [75]:
n = 5  # Number of rows
for i in range(n, 0, -1):
    print('*' * i)

*****
****
***
**
*

In [80]:
n = 5  # Number of rows
for i in range(1, n+1):
    print(' ' * (n - i) + '*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********
***********