In [7]:
number1 = int(input("Enter first number \n"))
number2 = int(input("Enter second number \n"))

if number1 == number2:
    print("Both numbers are same")
else:
    if number1 > number2:
        print("First number is bigger than second")
    else:
        print("First number is smaller than second")

Enter first number
20
Enter second number
34
First number is smaller than second

In [13]:
number = int(input("Enter a number\n")) # if number entered in string then it will throw error

if number % 2 == 0 :  
    print("Number is even")
else:
    print("Number is odd")

Enter a number
6746789
Number is odd

In [14]:
length_in_cm = input("Enter the lenght in centimeter\n")

length_in_cm = float(length_in_cm)
    
if length_in_cm < 0 :
    print("You have entered negative value. ")
else:
    length_in_inches = length_in_cm / 2.54
    print(length_in_cm, " cm = ", length_in_inches, " inches")

Enter the lenght in centimeter
44
44.0  cm =  17.322834645669293  inches

In [15]:
price = 500

if price > 500 : 
    print(" may be i wont be able to buy a jacket ")
elif price < 500 :
    print("i will be able to buy a jacket")
elif  price == 500 :
    print("for sure i will be able to buy")
else  :
    print("i dont know")

for sure i will be able to buy

In [16]:
lis = [1,2,3,4,5,6]

if 60 in lis :
    print("try to perform a task ")
else :
    print("do not perform this task")

do not perform this task

In [17]:
lis = [1,2,3,4,5,6]

if 60 not in lis :
    print("try to perform a task ")
else :
    print("do not perform this task")

try to perform a task

In [18]:
lis = [1,2,3,4,5,6]

if 10 in lis :
    print("try to do a addition")
elif 2 in lis :
    print("try to do sub")
elif 3 in lis :
    print("try to do mul")
if 4 in lis :
    print("this is new statement")

try to do sub
this is new statement

In [20]:
price  = int(input())

if price  < 500 :
    print("i will be able to buy something")
    print()
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
        if price < 200 :
            print("i would like to do sometign")
    else :
        print("i wont be able to buy anyting")
else :
     print("i wont be able to buy anything with this price tag")

444
i will be able to buy something

i wont be able to buy anyting

In [24]:
marks = int(input())

if marks < 600:
    print("NO GRE")
    if marks < 500:
        print("TOFEL")
        if marks < 400:
            print("Try something else")
    else:
        print("YOU GOT TOFEL")
        
elif marks > 600:
    print("you will get IIT")
    if marks > 700:
        print("you will get IIM")
    else:
        print("try next time")
else:
    print("You got GRE congratulations")

333
NO GRE
TOFEL
Try something else

In [25]:
val  = float(input("enter a floating point number"))

if val >= 0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("enter value is a positive number ")
else :
    print("entered number is a negative number")

enter a floating point number67
enter value is a positive number

In [32]:
mark = int(input("entrance exam marks"))

if mark > 700:
    print("700")
elif mark == 600:
    print()
else:
    print()

entrance exam marks34

In [34]:
mark = int(input("entrance exam marks "))

if mark > 500:
    print("you will get NIT")
    
    if mark > 600:
        print("you will get IIT")
        
        if mark > 700:
            print("you will get IIM")
            
            if mark > 800:
                print("you should go abroad")
            else:
                print("little more effort needed for abroad")
                
        else:
            print("mark shorten to get IIM")
            
    else:
        print("little more effort needed for IIT ")
        
elif mark == 500:
    print("you will get University college")
else:
    print("Take drop and work hard")

entrance exam marks 790
you will get NIT
you will get IIT
you will get IIM
little more effort needed for abroad

In [35]:
n = int(input("enter a number "))

if n==2:
    print("it is a prime number ", n)
elif n==3:
    print("it is a prime number ", n)
elif n%3==0 or n%2==0 or n%5==0 or n%7==0:
    print("it is divisible by 3 or 2 or 5")
else:
    print("it is a prime number")

enter a number 7
it is divisible by 3 or 2 or 5

In [38]:
name = input("enter a name of employee ")
gender = input("enter gender of employee  ")
first_base_salary = int(input("enter basic salary of employee "))
year_of_experience = eval(input("enter experience "))
salary_increase_rate = eval(input("enter incrament rate "))

gross_salary = first_base_salary * (1 + salary_increase_rate * year_of_experience)
gross_salary = int(gross_salary)
net_salary = gross_salary - (first_base_salary*0.15)
net_salary = int(net_salary)
print("gross_salary -", gross_salary)
print("net_salary -", net_salary)

bonus_thresold = 2

if year_of_experience >= 10:
    if gender == "f":
        bonus_rate = 0.2
        bonus = net_salary * bonus_rate
        print("Bonus = ", int(bonus))
        if year_of_experience <=15 and gross_salary >= 100000:
            aditional_bonus = 11000
            total_bonus = bonus + aditional_bonus
            print("overall_Bonus = ", bonus, "+", aditional_bonus,"=", int(total_bonus))
            if net_salary >= 100000:
                print("You will get early personal cabin")
        if year_of_experience > 15 and net_salary >= 100000:
            aditional_bonus = 11000
            total_bonus = bonus + aditional_bonus
            print("overall_Bonus = ", bonus, "+", aditional_bonus,"=", int(total_bonus))
            print("You will get personal cabin")
    elif gender == "m":
        bonus_rate = 0.18
        bonus = net_salary * bonus_rate
        print("Bonus = ", int(bonus))
        if year_of_experience <=15 and gross_salary >= 100000:
            aditional_bonus = 10000
            total_bonus = bonus + aditional_bonus
            print("overall_Bonus = ", bonus, "+", aditional_bonus,"=", int(total_bonus))
            if net_salary >= 100000:
                print("You will get early personal cabin")
        if year_of_experience > 15 and net_salary >= 100000:
            aditional_bonus = 10000
            total_bonus = bonus + aditional_bonus
            print("overall_Bonus = ", bonus, "+", aditional_bonus,"=", int(total_bonus))
            print("You will get personal cabin")  
elif year_of_experience>= 6 < 10:
    if gender == "f":
        bonus_rate = 0.15
        bonus = net_salary * bonus_rate
        print("Bonus = ", bonus)
        if gross_salary >= 75000:
            print("Get promoted ")
            if net_salary>= 70000:
                print("Early promoted ")
        else:
            print("better luck next year")
    elif gender == "m":
        bonus_rate = 0.14
        bonus = net_salary * bonus_rate
        print("Bonus = ", bonus)
        if gross_salary >= 75000:
            print("Get promoted ")
            if net_salary>= 70000:
                print("Early promoted ")
        else:
            print("better luck next year")        
elif year_of_experience > 2 <=5:
    if gender == "f":
        bonus_rate = 0.12
        bonus = net_salary * bonus_rate
        print("Bonus = ", bonus)
        if gross_salary>= 50000:
            print("Get regularization ")
            if net_salary>= 45000:
                print("Get early regularization")
    elif gender == "m":
        bonus_rate = 0.10
        bonus = net_salary * bonus_rate
        print("Bonus = ", bonus)
        if gross_salary>= 50000:
            print("Get regularization ")
            if net_salary>= 45000:
                print("Get early regularization")
else:
    print("No bonus for employee")

enter a name of employee sagar
enter gender of employee  m
enter basic salary of employee 30000
enter experience 8
enter incrament rate 0.15
gross_salary - 66000
net_salary - 61500
Bonus =  8610.0
better luck next year