In [16]:
number = int(input("enter a number- "))

if number < 0:  
    print("negative number")
    if number < -10: 
        print(number, "nested 1st")
        if number < -100:
            print(number, "nested 2nd")
        else:
            print("2nd nested else")
    else:
        print("1st nested esle")  
        
        
elif number == 0:
    print("positive but zero")
    if number < 0:
        print("negative")
        
        
        
else:
    print("positive number")

enter a number- 0
positive but zero

In [ ]:
iterable    =      str, list, tuple, set, dict
iterator    =      loop (for, while, iter)
iteration   =      action of iterator

In [ ]:
#for loop

In [17]:
var = "python"

In [18]:
for i in var:
    print(i)

p
y
t
h
o
n

In [19]:
num = 7586548

In [20]:
for i in num:
    print(i)

TypeError: 'int' object is not iterable

In [21]:
list1 = ["py", "c++", "c", "java", "js", "scala", "nodjs"]

In [22]:
for i in list1:
    print(i)

py
c++
c
java
js
scala
nodjs

In [23]:
tup = ("py", "c++", "c", "java", "js", "scala", "nodjs")

In [24]:
for j in tup:
    print(j)

py
c++
c
java
js
scala
nodjs

In [27]:
set1 = {"py", "c++", "c", "java", "js", "scala", "nodjs", "c++"}

In [28]:
for k in set1:
    print(k)

c++
py
c
js
nodjs
scala
java

In [29]:
dict1 = { 'first_name':'Asabeneh', 'last_name':'Yetayeh', 'age':250, 'country':'Finland', 'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{'street':'Space street','zipcode':'02210'}}

In [30]:
for a in dict1:
    print(a)

first_name
last_name
age
country
is_marred
skills
address

In [32]:
for a in dict1.values():
    print(a)

Asabeneh
Yetayeh
250
Finland
True
['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
{'street': 'Space street', 'zipcode': '02210'}

In [33]:
for a in dict1.keys():
    print(a)

first_name
last_name
age
country
is_marred
skills
address

In [34]:
for a in dict1.items():
    print(a)

('first_name', 'Asabeneh')
('last_name', 'Yetayeh')
('age', 250)
('country', 'Finland')
('is_marred', True)
('skills', ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'])
('address', {'street': 'Space street', 'zipcode': '02210'})

In [ ]:
# syntax
for iterator in lst:
    code goes here

In [ ]:
numbers = [0, 1, 2, 3, 4, 5]
for number in numbers: # number is temporary name to refer to the list's items, valid only inside this loop
    print(number)       # the numbers will be printed line by line, from 0 to 5

In [36]:
a = 1

while a < 5:
    print("amit")
    a = a +1

amit
amit
amit
amit

In [41]:
list2 = [2, 4, "py", 7,"js"]

In [43]:
for i in list2:
    if type(i) == int:
        print(i)

2
4
7

In [44]:
for i in list2:
    if type(i) == str:
        print(i)

py
js

In [45]:
emp = []

for i in list2:
    if type(i) == int:
        emp.append(i)

In [46]:
emp

[2, 4, 7]

In [47]:
for i in list2:
    if type(i) == str:
        print(i)
        print(i)
        print(i)
        print(i)

py
py
py
py
js
js
js
js