In [1]:
language = 'Python'

for letter in language:
    print(letter)

P
y
t
h
o
n

In [2]:
for i in range(len(language)):
    print(language[i])

P
y
t
h
o
n

In [3]:
range(5)

range(0, 5)

In [4]:
for i in range(5):
    print("py")

py
py
py
py
py

In [5]:
numbers = (0, 1, 2, 3, 4, 5)
for number in numbers:
    print(number)

0
1
2
3
4
5

In [6]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

for company in it_companies:
    print(company)

NameError: name 'it_companies' is not defined

In [7]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

for company in IT_companies:
    print(company)

Oracle
Microsoft
Apple
Amazon
Google
IBM
Facebook

In [8]:
numbers = (0,1,2,3,4,5)
for i in numbers:
    print(i)
    if i == 3:
        break

0
1
2
3

In [12]:
numbers = (0,1,2,3,4,5)
for i in numbers:
    print(i)
    if i == 3:
        continue
        
    
print('outside the loop')

0
1
2
3
4
5
outside the loop

In [13]:
numbers = (0,1,2,3,4,5)
for i in numbers:
    print(i)
    if i == 3:
        pass

0
1
2
3
4
5

In [14]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [15]:
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}

In [18]:
for i in person:
    if i == 'skills':
        for j in person['skills']:
            print(j)

JavaScript
React
Node
MongoDB
Python

In [19]:
for i in range(11):
    print(i)   # prints 0 to 10, not including 11
else:
    print('The loop stops at', i)

0
1
2
3
4
5
6
7
8
9
10
The loop stops at 10

In [21]:
for i in range(6):
    pass

In [22]:
#Example : print Hello five times
for i in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [24]:
for i in range(2):
    number = int(input("Enter the number"))
    print("the cube is " , number*number*number )

Enter the number2
the cube is  8
Enter the number3
the cube is  27

In [25]:
#Example : print first five integers along with value of i
for i in range(5):
    print("(i)  ", i, "(number) " , i+1)

(i)   0 (number)  1
(i)   1 (number)  2
(i)   2 (number)  3
(i)   3 (number)  4
(i)   4 (number)  5

In [26]:
#Examples

range(5)                  # produces  five values 0, 1, 2, 3, 4
range(1, 5)               # produces  four values 1, 2, 3, 4
range(2, 4)               # produces  two values 2, 3
range(1, 10, 2)           # produces values starting from zero to nine , at step of 2 i.e. 1, 3, 5, 7, 9
range(9, 2, -1)           # produces values starting from nine to three , at step of -1 i.e. 9, 8, 7, 6, 5, 4, 3

range(9, 2, -1)

In [27]:
# iterate over values directly
for i in (11,31,51):
    print(i)

11
31
51

In [28]:
# iterate fixed number of times with start and end value
for i in range(1, 5):
    print(i)

1
2
3
4

In [30]:
# iterate fixed number of times with start and end value with gaps in between
for i in range(1,6, 2):
    print(i)

1
3
5

In [32]:
#iterate over list of values 

scores = [23, 34, 12, 34, 45]
length = len(scores)

for i in range(length):
    print(scores[i])

23
34
12
34
45

In [35]:
scores[3]

34

In [37]:
#iterate over list of values directly along with index
squares = [0, 1, 4, 9, 16]

for i, j in enumerate(squares):
    print("index : ", i, "  ", "value : " , j)

index :  0    value :  0
index :  1    value :  1
index :  2    value :  4
index :  3    value :  9
index :  4    value :  16

In [38]:
#iterate over list of values directly along with index
var = "data analyst"

for i, j in enumerate(var):
    print( i, " -",j)

0  - d
1  - a
2  - t
3  - a
4  -
5  - a
6  - n
7  - a
8  - l
9  - y
10  - s
11  - t

In [39]:
#iterate over strings directly

my_string = "this is demo"

for letter in my_string:
    print(letter)

t
h
i
s

i
s

d
e
m
o

In [40]:
#iterate over strings directly

my_string1 = ["this is demo"]

for letter in my_string1:
    print(letter)

this is demo

In [41]:
#iterate over strings directly

my_string1 = ["this is demo"]

for i in my_string1:
    if type(i) == str:
        for j in i:
            print(j)

t
h
i
s

i
s

d
e
m
o

In [42]:
#iterate over strings directly

my_string1 = [5463]

for i in my_string1:
    if type(i) == int:
        for j in i:
            print(j)

TypeError: 'int' object is not iterable

In [43]:
my_string1 = [5463]

for i in my_string1:
    print(i)

5463

In [44]:
#iterate over dictionary values directly

my_dict = {"key1": "value1", "key2":"value2"}

for value in my_dict.values():
    print(value)

value1
value2

In [46]:
#Example for loop with fixed number of inputs
count = 2

for i in range(count):
    name = input("Enter the name :")
    print('You entered ', name)

Enter the name :sagar
You entered  sagar
Enter the name :parag
You entered  parag

In [49]:
count = 2

while count < 4:
    print("sagar")
    count = count + 1

sagar
sagar

In [53]:
#Example of infinite loop
i = 0 

while i < 5 :
    print("i ", i )
    i = i+1

print("Out of while loop")

i  0
i  1
i  2
i  3
i  4
Out of while loop

In [54]:
a = 5
b = 10


while a < b: 
    print(a, b)
    b = b-1

5 10
5 9
5 8
5 7
5 6

In [56]:
a = 5
b = 10


while a < b: 
    print(a, b)
    a = a+1
    print(1)
    print(1)
    print(3)

5 10
1
1
3
6 10
1
1
3
7 10
1
1
3
8 10
1
1
3
9 10
1
1
3

In [ ]:
Q1. Write a program using while loop that prints square and cube of numbers between 1 to 10.
Q2. Write a program that uses for loop to print numbers 100, 96, 92, 88 ..., 4. 
Q3. Use a for loop to print a triangle like the one below. Allow the user to specify how high the triangle should be. <br>
@<br>
@@<br>
@@@<br>
@@@@<br>
Q4. Write a program that asks the user to enter the password. If the user enters the right password, the program should tell them they are logged in to the system. Otherwise, the program should ask them to reenter the password. The user should get only five tries to enter the password, after which point the program should tell them that they are kicked off of the system.