In [1]:
my_number_list = range(5)
my_number_list
len(my_number_list)

5

In [3]:
list(my_number_list)

[0, 1, 2, 3, 4]

In [2]:
i = 0
while i < len(my_number_list):
    print( i, my_number_list[i])
    i = i+1
    
print("Length of list ", len(my_number_list))

0 0
1 1
2 2
3 3
4 4
Length of list  5

In [4]:
count = 3

for i in range(count):
    name = input("Enter the name : ")
    print()
    print('You entered ', name)

Enter the name : amit

You entered  amit
Enter the name : kumar

You entered  kumar
Enter the name : amiit

You entered  amiit

In [6]:
name = ""

while name != "Quit":
    name = input("Enter the name (use 'Quit' to stop :")
    if name != "Quit":
        print('You entered ', name)

Enter the name (use 'Quit' to stop :fh
You entered  fh
Enter the name (use 'Quit' to stop :efg
You entered  efg
Enter the name (use 'Quit' to stop :dfg
You entered  dfg
Enter the name (use 'Quit' to stop :dfg
You entered  dfg
Enter the name (use 'Quit' to stop :dg
You entered  dg
Enter the name (use 'Quit' to stop :Quit

In [ ]:
i = 0 
while i < 5 :
    print(i )
    i+=1
#print("Out of while loop")

In [9]:
# Example
i = 0           #iteration variable initialized
while i < 5:    # condition is evaluated 
    print(i)    # block statements are executed until the condition is true i.e. 5 times
    i +=1

0
1
2
3
4

In [12]:
# Example
i = 0         #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        print(i)    # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)

1
2
3
4
4
5
5
6
6
7

In [13]:
l1 = [0,1,2,3,4, "py", "java"]
for i in l1:
    if type(i) == str:
        break
    print(i)

0
1
2
3
4

In [14]:
# Example
i = 0           #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        break   # no more further execution of the loop, once i is greater than 4 
        print(i)    # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)

1
2
3
4

In [15]:
# Example
i = 0           #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        pass   # no more further execution of the loop, once i is greater than 4 
        print(i)    # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)

1
2
3
4
4
5
5
6
6
7

In [18]:
stmt = ""

while stmt != 'Quit':
    stmt = input("Enter the stmt (Use 'Quit' to stop )")
    if stmt.startswith("#") :
        continue
    if len(stmt) > 0 :
        print(stmt)

Enter the stmt (Use 'Quit' to stop )amit
amit
Enter the stmt (Use 'Quit' to stop )#amit
Enter the stmt (Use 'Quit' to stop )#Quit
Enter the stmt (Use 'Quit' to stop )python
python
Enter the stmt (Use 'Quit' to stop )#py
Enter the stmt (Use 'Quit' to stop )Quit
Quit

In [17]:
# Example
i = 0           #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        continue   # no more further execution of the loop, once i is greater than 4 
        print(i)    # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)

1
2
3
4

KeyboardInterrupt:

In [19]:
for i in range(5):
    print("(i)  ", i, "(number) " , i+1)

(i)   0 (number)  1
(i)   1 (number)  2
(i)   2 (number)  3
(i)   3 (number)  4
(i)   4 (number)  5

In [21]:
scores = [23, 34, 12, 34, 45,"" ,"1" ,"" ]
length = len(scores)

for i in range(0,8):
    print(scores[i])

23
34
12
34
45

1

In [23]:
squares = [0, 1, 4, 9, 16,5]

for i, j in enumerate(squares):
    print("index : ", i, "  ", "value : " , j)

index :  0    value :  0
index :  1    value :  1
index :  2    value :  4
index :  3    value :  9
index :  4    value :  16
index :  5    value :  5

In [24]:
s = "Jasmin sheikh"
for i in range(len(s)) : 
    print(i , s[i])

0 J
1 a
2 s
3 m
4 i
5 n
6
7 s
8 h
9 e
10 i
11 k
12 h

In [25]:
S = "Jasmin"
for i in range(len(S)-1 , -1, -1):
    print(i , S[i])

5 n
4 i
3 m
2 s
1 a
0 J

In [29]:
list(range(5, -1, -1))

[5, 4, 3, 2, 1, 0]

In [30]:
d = {1: "Nikita", 2: "mayuri", 3:"jasmin", 4:"aarti", 5:"pratiksha"}

In [32]:
for i in d.items():
    print(i , type(i) , type(i[1]))

(1, 'Nikita') <class 'tuple'> <class 'str'>
(2, 'mayuri') <class 'tuple'> <class 'str'>
(3, 'jasmin') <class 'tuple'> <class 'str'>
(4, 'aarti') <class 'tuple'> <class 'str'>
(5, 'pratiksha') <class 'tuple'> <class 'str'>