In [1]:
l = [1,2,3,4,"sudh" ,"kumar" , 45.56]

In [2]:
str1 = "this is my first string"
str2 = "this is my second string"

In [4]:
print(str1, str2)

this is my first string this is my second string

In [5]:
print("this is my first string", end = ". " )
print("this is my second string" , end = " ")
print("this is my second string")

this is my first string. this is my second string this is my second string

In [6]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45.56

In [8]:
for i in l :
    pass
    print(i)

1
2
3
4
sudh
kumar
45.56

In [9]:
s = "sudh"

for i in s :
    print(i)

s
u
d
h

In [10]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will execute else

In [11]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [12]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [13]:
d = {'key1' :"sudh" , 'contact' : "gmail" , "position" : "mentor"}

In [14]:
for i in d :
    print(i,":" ,  d[i])

key1 : sudh
contact : gmail
position : mentor

In [15]:
for i in range(4) :
    for j in range(0, i+1) : 
        print("DA" , end = "  ")
    print("\n")

DA

DA  DA

DA  DA  DA

DA  DA  DA  DA

In [16]:
n = 5

for i in range(n) :
    for j in range(0, i+1) : 
        print("*",  end = " ")
    print( "\n")

*

* *

* * *

* * * *

* * * * *

In [17]:
n=5  # (0,1,2,3,4)

for i in range(n):
    for j in range(i,n-1):
        print(" " * len("DA"), end=" ")
    for j in range(i+1):
        print("DS", end=" ")
    for j in range(i): 
        print("AI",end=" ")
    print()

            DS
         DS DS AI
      DS DS DS AI AI
   DS DS DS DS AI AI AI
DS DS DS DS DS AI AI AI AI

In [18]:
n = 4
k = n


for i in range(n):
    k=k-1
    print('  '*k, end='')
    for j in range(i+1):
        print('sudh ', end= '')
    print()

      sudh
    sudh sudh
  sudh sudh sudh
sudh sudh sudh sudh

In [37]:
rows = 7
current_char = "A"

for i in range(1, rows + 1):  #(1,2,3,4,5,6,7,8)
    for j in range(i):
        print(current_char, end=" ")
        current_char = chr(ord(current_char) + 1)
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \

In [19]:
current_char = "A"

In [20]:
 current_char = chr(ord(current_char) + 1)

In [21]:
 current_char

'B'

In [22]:
ord(current_char)

66

In [27]:
ord("M")

77

In [34]:
chr(48)

'0'