## OOPs

In [1]:
class person:

       def __init__(self, name, surname, emailid , year_of_birth):
           
           self.name = name
           self.surname = surname
           self.emailid = emailid
           self.year_of_birth = year_of_birth

In [4]:
obj = person("rohit", "sharma", "rohit@gmail.com", 1989)

In [5]:
obj.year_of_birth

1989

In [7]:
obj1 = person("virat", "kohli", "virat@gmail.com", 1988)

In [8]:
obj1.name

'virat'

In [9]:
obj.emailid

'rohit@gmail.com'

In [10]:
class person1:

    def __init__(self, name, surname, emailid, year_of_birth):
        self.name = name
        self.surname = surname
        self.emailid = emailid
        self.year_of_birth = year_of_birth
        
    def __init__(self, name,  year_of_birth):
        self.name = name
        self. year_of_birth= year_of_birth

    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname 
        self. year_of_birth= year_of_birth 
    
        
    def age(self, curretn_year):
        return curretn_year - self.year_of_birth

In [12]:
obj = person1("ravindra", "jadeja", 1990)

In [13]:
obj.name

'ravindra'

In [14]:
obj.age(2024)

34

In [15]:
class person2:

    def __init__(self, name, surname, emailid, year_of_birth):
        self.name1 = name
        self.surname1 = surname
        self.emailid1 = emailid
        self.year_of_birth = year_of_birth
           
    def age(self, curretn_year):
        return curretn_year - self.year_of_birth 
    
    def age_2(self, curretn_year):
        return curretn_year

In [17]:
obj = person2("dk", "CK", "dk@gmail.com", 1980)

In [18]:
obj.name1

'dk'

In [19]:
obj.age(2024)

44

In [ ]:
obj.

In [21]:
class person3 :
    
    def __init__(self , name , surname , yob):
        self._name1 = name                 # single _ means private 
        self.__surname1 = surname          #  double __ means protective
        self.yob1 = yob                    # public

In [23]:
obj= person3("amit", "Kumar", 1999)

In [24]:
obj.yob1

1999

In [25]:
obj._name1

'amit'

In [26]:
obj._person3__surname1

'Kumar'

In [31]:
class person4:                             # parents class

    name = "amit"
    surname = "kumar"
    yob = 1990

    def age(self , current_year ):
        return current_year - self.yob
    
    def age1(self , current_year ):
        return current_year - self.yob



class employee(person4):           #child class
    name = "amit1"
    surname = "singh"
    yob = 1991

In [32]:
obj1 = person4()

In [33]:
obj1.name

'amit'

In [34]:
obj2 = employee()

In [35]:
obj2.surname

'singh'

In [36]:
obj2.age(2024)

33

In [37]:
obj1.age(2024)

34

In [46]:
class person5:                             # parents class

    name = "amit"
    surname = "kumar"
    yob = 1990

    def age(self , current_year ):
        return current_year - self.yob
    
    def age1(self , current_year ):
        return current_year - self.yob



class employee(person5):           #child class
    yob1 = 2000

In [47]:
obj3 = person5()

In [48]:
obj3.name

'amit'

In [49]:
obj4 = employee()

In [51]:
obj4.yob

1990

In [52]:
class car :                 #perent class   
                         # inheritence 
    def __init__(self , body , engin , tyre):
        self.body = body
        self.engin = engin
        self.tyre = tyre

    def milage (self):
        print("milage of this car ")

In [54]:
class tata(car):                #child class
    pass

In [55]:
obj5 = car()

TypeError: car.__init__() missing 3 required positional arguments: 'body', 'engin', and 'tyre'

In [57]:
t = tata("hatchback", "1.2l","18inches" )

In [58]:
t.milage()

milage of this car

In [59]:
class bank :             # perents class 
    def transaction(self) :
        print("total transaction value ")
    def account_opening(self):
        print("this will show you your account open status ")
    def deposite(self):
        print("this will show your deposited amount")


class HDFC_bank(bank):             # child class
    def hdfc_to_icici(self):
        print("this will show you all the transaction happend to icici throuhg hdfc")

class icici(HDFC_bank):          # child class
    pass                        

# multilevel inheritence

In [60]:
b = bank()

In [61]:
h = HDFC_bank()

In [62]:
Ic = icici()

In [ ]:
Ic.