In [2]:
def generate_full_name ():
    first_name = 'Asabeneh'
    last_name = 'Yetayeh'
    space = ' '
    full_name = first_name + space + last_name
    print(full_name)

In [3]:
generate_full_name()

Asabeneh Yetayeh

In [6]:
def generate_full_name1 ():
    first_name = 'Asabeneh'
    last_name = 'Yetayeh'
    space = ' '
    full_name = first_name + space + last_name
    return full_name

In [7]:
generate_full_name1()

'Asabeneh Yetayeh'

In [8]:
def add_two_numbers ():
    num_one = 2
    num_two = 3
    total = num_one + num_two
    print(total)

In [9]:
add_two_numbers()

5

In [10]:
def greetings (name):
    message = name + ', welcome to Python for Everyone!'
    return message

In [11]:
greetings('Asabeneh')

'Asabeneh, welcome to Python for Everyone!'

In [12]:
greetings('Parag')

'Parag, welcome to Python for Everyone!'

In [13]:
def add_ten(num):
    ten = 10
    return num + ten

print(add_ten(90))



def square_number(x):
    return x * x

print(square_number(2))


def area_of_circle (r):
    PI = 3.14
    area = PI * r ** 2
    return area

print(area_of_circle(10))

100
4
314.0

In [35]:
def sum_of_numbers(n):
    total = 0
    for i in range(n+1):
        total+=i
    print(total)

In [36]:
sum_of_numbers(10) # 55
sum_of_numbers(100) # 5050

55
5050

In [26]:
total1 = 0
for i in range(6):
    total1=i+1

In [27]:
total

15

In [28]:
num = 0

for i in range(5):
    print(i)
    num= num+1

0
1
2
3
4

In [29]:
num

5

In [30]:
total_1 = 0

for i in range(6):
    total_1 = total_1+1
    print(i)

    
print(total_1)

0
1
2
3
4
5
6

In [34]:
total = 0
for i in range(11):
    total+=i
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [38]:
def sum_of_numbers1(n):
    N = 1
    for i in range(n+1):
        N= N+i
    return N

In [39]:
sum_of_numbers1(5)

16

In [40]:
def generate_full_name (first_name, last_name):
    space = ' '
    full_name = first_name + space + last_name
    return full_name

In [41]:
generate_full_name ("amit", "kumar")

'amit kumar'

In [ ]:
def sum_two_numbers (num_one, num_two):
    sum = num_one + num_two
    return sum
print('Sum of two numbers: ', sum_two_numbers(1, 9))

In [46]:
def calculate_age (current_year, birth_year):
    age = current_year - birth_year
    return age;

In [47]:
calculate_age (2024, 2000)

24

In [48]:
def weight_of_object (mass, gravity):
    weight = str(mass * gravity)+ ' N' # the value has to be changed to a string first
    return weight
print('Weight of an object in Newtons: ', weight_of_object(100, 9.81))

Weight of an object in Newtons:  981.0 N

In [49]:
def is_even (n):
    if n % 2 == 0:
        print('even')
        return True    # return stops further execution of the function, similar to break 
    return False

In [50]:
print(is_even(10)) # True
print(is_even(7)) # False

even
True
False

In [51]:
def find_even_numbers(n):
    evens = []
    for i in range(n + 1):
        if i % 2 == 0:
            evens.append(i)
    return evens

In [52]:
print(find_even_numbers(10))

[0, 2, 4, 6, 8, 10]

In [ ]:
### Exercises: Level 1

1. Declare a function _add_two_numbers_. It takes two parameters and it returns a sum.
2. Area of a circle is calculated as follows: area = π x r x r. Write a function that calculates _area_of_circle_.
3. Write a function called add_all_nums which takes arbitrary number of arguments and sums all the arguments. Check if all the list items are number types. If not do give a reasonable feedback.
4. Temperature in °C can be converted to °F using this formula: °F = (°C x 9/5) + 32. Write a function which converts °C to °F, _convert_celsius_to-fahrenheit_.
5. Write a function called check-season, it takes a month parameter and returns the season: Autumn, Winter, Spring or Summer.
6. Write a function called calculate_slope which return the slope of a linear equation
7. Quadratic equation is calculated as follows: ax² + bx + c = 0. Write a function which calculates solution set of a quadratic equation, _solve_quadratic_eqn_.
8. Declare a function named print_list. It takes a list as a parameter and it prints out each element of the list.
9. Declare a function named reverse_list. It takes an array as a parameter and it returns the reverse of the array (use loops).

```py
print(reverse_list([1, 2, 3, 4, 5]))
# [5, 4, 3, 2, 1]
print(reverse_list1(["A", "B", "C"]))
# ["C", "B", "A"]
```

10. Declare a function named capitalize_list_items. It takes a list as a parameter and it returns a capitalized list of items
11. Declare a function named add_item. It takes a list and an item parameters. It returns a list with the item added at the end.

```py
food_staff = ['Potato', 'Tomato', 'Mango', 'Milk'];
print(add_item(food_staff, 'Meat'))     # ['Potato', 'Tomato', 'Mango', 'Milk','Meat'];
numbers = [2, 3, 7, 9];
print(add_item(numbers, 5))      [2, 3, 7, 9, 5]
```

12. Declare a function named remove_item. It takes a list and an item parameters. It returns a list with the item removed from it.

```py
food_staff = ['Potato', 'Tomato', 'Mango', 'Milk'];
print(remove_item(food_staff, 'Mango'))  # ['Potato', 'Tomato', 'Milk'];
numbers = [2, 3, 7, 9];
print(remove_item(numbers, 3))  # [2, 7, 9]
```

13. Declare a function named sum_of_numbers. It takes a number parameter and it adds all the numbers in that range.

```py
print(sum_of_numbers(5))  # 15
print(sum_all_numbers(10)) # 55
print(sum_all_numbers(100)) # 5050
```

14. Declare a function named sum_of_odds. It takes a number parameter and it adds all the odd numbers in that range.
15. Declare a function named sum_of_even. It takes a number parameter and it adds all the even numbers in that - range.

### Exercises: Level 2

1.  Declare a function named evens_and_odds . It takes a positive integer as parameter and it counts number of evens and odds in the number.

```py
    print(evens_and_odds(100))
    # The number of odds are 50.
    # The number of evens are 51.
```

1. Call your function factorial, it takes a whole number as a parameter and it return a factorial of the number
1. Call your function _is_empty_, it takes a parameter and it checks if it is empty or not
1. Write different functions which take lists. They should calculate_mean, calculate_median, calculate_mode, calculate_range, calculate_variance, calculate_std (standard deviation).

### Exercises: Level 3

1. Write a function called is_prime, which checks if a number is prime.
1. Write a functions which checks if all items are unique in the list.
1. Write a function which checks if all the items of the list are of the same data type.
1. Write a function which check if provided variable is a valid python variable
1. Go to the data folder and access the countries-data.py file.

- Create a function called the most_spoken_languages in the world. It should return 10 or 20 most spoken languages in the world in descending order
- Create a function called the most_populated_countries. It should return 10 or 20 most populated countries in descending order.