In [1]:
class person:     #attributes     # __inti__ = constructor,  self is a pointer to class
    
    def __init__(self, name, surname, emailid , year_of_birth):   # method 
        
        self.name = name
        self.surname = surname
        self.emailid = emailid
        self.year_of_birth = year_of_birth

In [2]:
person()

TypeError: person.__init__() missing 4 required positional arguments: 'name', 'surname', 'emailid', and 'year_of_birth'

In [3]:
details = person("amit", "kumar", "amitkm@gmail.com", 1993)    #object

In [4]:
details

In [5]:
details.surname

'kumar'

In [6]:
details.name

'amit'

In [7]:
details2 = person("parag", "dorle", "parag@gmail.com", 1993)

In [8]:
details2.name

'parag'

In [17]:
obj= person("nilesh", "sharma", "nilesh@gmail", 2001)

In [11]:
obj.year_of_birth

1995

In [ ]:
*******************************************

In [12]:
class person_1:

    def __init__(self, name, surname, emailid, year_of_birth):
        self.name = name
        self.surname = surname
        self.emailid = emailid
        self.year_of_birth = year_of_birth
                                              # last constructed method can only use
        
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname 
        self. year_of_birth= year_of_birth  
        
    def age(self, curretn_year):
        return curretn_year - self.year_of_birth

In [18]:
obj1 = person_1("sagar", "bawnkule",  2000)

In [19]:
obj1.name

'sagar'

In [21]:
obj1.age(2024)

24

In [ ]:
**************************************************************

In [22]:
class person_2:

    def __init__(self, name, surname, emailid, year_of_birth):
        self.name = name
        self.surname = surname
        self.emailid = emailid
        self.year_of_birth = year_of_birth
                                              # last constructed method can only use
            
    def __init__(self, name, surname):
        self.name = name
        self.surname = surname 
        self. year_of_birth= year_of_birth        
            
        
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname 
        self. year_of_birth= year_of_birth 
        
        
        
    def age(self, curretn_year):
        return curretn_year - self.year_of_birth

In [27]:
person_2()

TypeError: person_2.__init__() missing 3 required positional arguments: 'name', 'surname', and 'year_of_birth'

In [24]:
person_2("sagar", "bawnkule")

TypeError: person_2.__init__() missing 1 required positional argument: 'year_of_birth'

In [ ]:
*****************************************************

In [25]:
class person_3 :

    def age(self, curretn_year , year_of_birth):
        return curretn_year - year_of_birth

    def email_id_input(self, email_id ):
        print("take and mail id form a person and print it " , email_id)

    def ask_name(self):
        name = input("tell me your name ")
        return name

    def ask_dob(self):
        dob = input("tell me your date of birth ")
        return dob

In [28]:
obj3 =person_3()

In [29]:
obj3.age(2024, 1990)

34

In [30]:
obj3.ask_dob()

tell me your date of birth amit

'amit'

In [33]:
obj3.email_id_input("amit@gmail.com")

take and mail id form a person and print it  amit@gmail.com

In [ ]:
********************************************

In [34]:
class person_4 :
    
    def __init__(self , name ,surname , yob):
        self._name1 = name                 # single _ means private 
        self.__surname1 = surname          #  double __ means protective
        self.yob1 = yob                    # public

In [36]:
var = person_4("amit", "kumar",1995)

In [37]:
var.yob1

1995

In [38]:
var._name1

'amit'

In [41]:
var._person_4__surname1

'kumar'

In [ ]:
*************************

In [42]:
class person_5 :                             # parents class

    name = "amit"
    surname = "kumar"
    yob = 1990

    def age(self , current_year ):
        return current_year - self.yob
    
    def age1(self , current_year ):
        return current_year - self.yob

In [45]:
var1=person_5()

In [46]:
var1.name

'amit'

In [47]:
var1.surname

'kumar'

In [48]:
var1.age(2024)

34

In [49]:
var1.age1(2024)

34

In [54]:
class employee(person_5) :           #child class
    name = "amit"
    surname = "singh"
    yob = 1991

In [55]:
vr = employee()

In [56]:
obj1 = employee()
obj1.surname
obj1.yob
obj1.age(2023)
# inheritense

32

In [57]:
obj1.age1(2020)

29