In [5]:
### Checking Items in a List

#Checking an item if it is a member of a list using *in* operator. See the example below.


fruits = ['banana', 'orange', 'mango', 'lemon']

does_exist = 'banana' in fruits
print(does_exist)  # True


does_exist = 'lime' in fruits
print(does_exist)  # False

True
False

In [9]:
'banana' is not "Banana"

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\amitm\AppData\Local\Temp\ipykernel_6252\750844813.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  'banana' is not "Banana"

True

In [10]:
### Adding Items to a List

#To add item to the end of an existing list we use the method *append()*.


fruits = ['banana', 'orange', 'mango', 'lemon']

fruits.append("apple")

print(fruits)           # ['banana', 'orange', 'mango', 'lemon', 'apple']
fruits.append('lime')   # ['banana', 'orange', 'mango', 'lemon', 'apple', 'lime']
print(fruits)

['banana', 'orange', 'mango', 'lemon', 'apple']
['banana', 'orange', 'mango', 'lemon', 'apple', 'lime']

In [11]:
fruits.append("apple")

In [12]:
fruits

['banana', 'orange', 'mango', 'lemon', 'apple', 'lime', 'apple']

In [14]:
fruits.append(["apple", "lime", "chiku"])

In [15]:
fruits

['banana',
 'orange',
 'mango',
 'lemon',
 'apple',
 'lime',
 'apple',
 ['apple', 'lime', 'chiku']]

In [17]:
fruits1 = fruits.copy()

In [18]:
fruits1

['banana',
 'orange',
 'mango',
 'lemon',
 'apple',
 'lime',
 'apple',
 ['apple', 'lime', 'chiku']]

In [19]:
fruits.extend('lime')

In [20]:
fruits

['banana',
 'orange',
 'mango',
 'lemon',
 'apple',
 'lime',
 'apple',
 ['apple', 'lime', 'chiku'],
 'l',
 'i',
 'm',
 'e']

In [21]:
fruits.extend(['apple', 'lime', 'chiku'])

In [23]:
fruits.extend(7648)

TypeError: 'int' object is not iterable

In [24]:
fruits.append(7648)

In [25]:
fruits

['banana',
 'orange',
 'mango',
 'lemon',
 'apple',
 'lime',
 'apple',
 ['apple', 'lime', 'chiku'],
 'l',
 'i',
 'm',
 'e',
 'apple',
 'lime',
 'chiku',
 7648]

In [26]:
fruits.extend(['lime'])

In [27]:
fruits

['banana',
 'orange',
 'mango',
 'lemon',
 'apple',
 'lime',
 'apple',
 ['apple', 'lime', 'chiku'],
 'l',
 'i',
 'm',
 'e',
 'apple',
 'lime',
 'chiku',
 7648,
 'lime']

In [28]:
var = [1,23,"amit"]

In [30]:
var.append("abc")

In [32]:
var.extend("xyz")

In [33]:
var

[1, 23, 'amit', 'abc', 'x', 'y', 'z']

In [38]:
fruits.count("apple")

3

In [37]:
fruits

['banana',
 'orange',
 'mango',
 'lemon',
 'apple',
 'lime',
 'apple',
 ['apple', 'lime', 'chiku'],
 'l',
 'i',
 'm',
 'e',
 'apple',
 'lime',
 'chiku',
 7648,
 'lime']

In [41]:
fruits.index("lime")

5

In [43]:
fruits.insert(2, "pieapple")

In [44]:
fruits

['banana',
 'orange',
 'pieapple',
 'mango',
 'lemon',
 'apple',
 'lime',
 'apple',
 ['apple', 'lime', 'chiku'],
 'l',
 'i',
 'm',
 'e',
 'apple',
 'lime',
 'chiku',
 7648,
 'lime']

In [45]:
fruits.insert(0, "melon")

In [46]:
fruits

['melon',
 'banana',
 'orange',
 'pieapple',
 'mango',
 'lemon',
 'apple',
 'lime',
 'apple',
 ['apple', 'lime', 'chiku'],
 'l',
 'i',
 'm',
 'e',
 'apple',
 'lime',
 'chiku',
 7648,
 'lime']

In [49]:
fruits.pop()

7648

In [50]:
fruits

['melon',
 'banana',
 'orange',
 'pieapple',
 'mango',
 'lemon',
 'apple',
 'lime',
 'apple',
 ['apple', 'lime', 'chiku'],
 'l',
 'i',
 'm',
 'e',
 'apple',
 'lime',
 'chiku']

In [51]:
fruits.pop(3)

'pieapple'

In [55]:
fruits

['orange',
 'mango',
 'lemon',
 'apple',
 'lime',
 'apple',
 ['apple', 'lime', 'chiku'],
 'l',
 'i',
 'm',
 'e',
 'apple',
 'lime',
 'chiku']

In [54]:
fruits.pop(0)

'banana'

In [56]:
fruits.remove("l")

In [57]:
fruits

['orange',
 'mango',
 'lemon',
 'apple',
 'lime',
 'apple',
 ['apple', 'lime', 'chiku'],
 'i',
 'm',
 'e',
 'apple',
 'lime',
 'chiku']

In [58]:
fruits.reverse()

In [59]:
fruits

['chiku',
 'lime',
 'apple',
 'e',
 'm',
 'i',
 ['apple', 'lime', 'chiku'],
 'apple',
 'lime',
 'apple',
 'lemon',
 'mango',
 'orange']

In [63]:
fruits.sort

In [65]:
fruits.clear()

In [66]:
fruits

[]

In [67]:
del(fruits)

In [68]:
fruits

NameError: name 'fruits' is not defined

In [69]:
ages = [22, 19, 24, 25, 26, 24, 25, 24]

In [70]:
ages.sort()

In [71]:
ages

[19, 22, 24, 24, 24, 25, 25, 26]

In [72]:
ages.sort(reverse=True)

In [73]:
ages

[26, 25, 25, 24, 24, 24, 22, 19]

In [ ]:
### Exercises: Level 1

1. Declare an empty list
2. Declare a list with more than 5 items
3. Find the length of your list
4. Get the first item, the middle item and the last item of the list
5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
7. Print the list using _print()_
8. Print the number of companies in the list
9. Print the first, middle and last company
10. Print the list after modifying one of the companies
11. Add an IT company to it_companies
12. Insert an IT company in the middle of the companies list
13. Change one of the it_companies names to uppercase (IBM excluded!)
14. Join the it_companies with a string '#;&nbsp; '
15. Check if a certain company exists in the it_companies list.
16. Sort the list using sort() method
17. Reverse the list in descending order using reverse() method
18. Slice out the first 3 companies from the list
19. Slice out the last 3 companies from the list
20. Slice out the middle IT company or companies from the list
21. Remove the first IT company from the list
22. Remove the middle IT company or companies from the list
23. Remove the last IT company from the list
24. Remove all IT companies from the list
25. Destroy the IT companies list
26. Join the following lists:

    ```py
    front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
    back_end = ['Node','Express', 'MongoDB']
    ```

27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.

### Exercises: Level 2

1. The following is a list of 10 students ages:

```sh
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
```

- Sort the list and find the min and max age
- Add the min age and the max age again to the list
- Find the median age (one middle item or two middle items divided by two)
- Find the average age (sum of all items divided by their number )
- Find the range of the ages (max minus min)
- Compare the value of (min - average) and (max - average), use _abs()_ method

1. Find the middle country(ies) in the [countries list](https://github.com/Asabeneh/30-Days-Of-Python/tree/master/data/countries.py)
1. Divide the countries list into two equal lists if it is even if not one more country for the first half.
1. ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.