In [1]:
## Sets

#Set is a collection of items. Let me take you back to your elementary or high school Mathematics lesson. The Mathematics definition of a set can be applied also in Python. Set is a collection of unordered and un-indexed distinct elements. In Python set is used to store unique items, and it is possible to find the _union_, _intersection_, _difference_, _symmetric difference_, _subset_, _super set_ and _disjoint set_ among sets.

In [2]:
{2,34,5,"amit"}

{2, 34, 5, 'amit'}

In [3]:
type({2,34,5,"amit"})

set

In [5]:
# syntax
st = {'item1', 'item1','item1','item2', 'item3', 'item4'}

In [6]:
st

{'item1', 'item2', 'item3', 'item4'}

In [8]:
fruits = {'banana', 'orange', 'mango', 'lemon', 'mango'}
len(fruits)

4

In [9]:
st = {'item1', 'item2', 'item3', 'item4'}
print("Does set st contain item3? ", 'item3' in st) # Does set st contain item3? True

Does set st contain item3?  True

In [12]:
st[1]

TypeError: 'set' object is not subscriptable

In [13]:
st[:]

TypeError: 'set' object is not subscriptable

In [25]:
st = {'item1', 'item2', 'item3', 'item4'}


st.add("item5")        

#st.add("item8", "item9")

TypeError: set.add() takes exactly one argument (2 given)

In [15]:
st

{'item1', 'item2', 'item3', 'item4', 'item5'}

In [16]:
st1 = st.copy()

In [17]:
st1

{'item1', 'item2', 'item3', 'item4', 'item5'}

In [18]:
st1.clear()

In [19]:
st1

set()

In [20]:
st.pop()

'item2'

In [21]:
st

{'item1', 'item3', 'item4', 'item5'}

In [22]:
st.pop()

'item1'

In [23]:
st = {'item1', 'item2', 'item3', 'item4'}

st.update(['item5','item6','item7'])

In [24]:
st

{'item1', 'item2', 'item3', 'item4', 'item5', 'item6', 'item7'}

In [26]:
fruits = {'banana', 'orange', 'mango', 'lemon'}

vegetables = ('tomato', 'potato', 'cabbage','onion', 'carrot')

fruits.update(vegetables)

In [28]:
fruits

{'banana',
 'cabbage',
 'carrot',
 'lemon',
 'mango',
 'onion',
 'orange',
 'potato',
 'tomato'}

In [29]:
st = {'item1', 'item2', 'item3', 'item4'}
st.remove('item2')

In [30]:
st

{'item1', 'item3', 'item4'}

In [31]:
st.remove('item1', "item3" )

TypeError: set.remove() takes exactly one argument (2 given)

In [32]:
st = {'item1', 'item2', 'item3', 'item4'}
del st

In [33]:
st

NameError: name 'st' is not defined

In [34]:
lst = ['item1', 'item2', 'item3', 'item4', 'item1']

In [35]:
st = set(lst)

In [36]:
st

{'item1', 'item2', 'item3', 'item4'}

In [37]:
set1 = {'item1', 'item2', 'item3', 'item4'}
set2 = {'item5', 'item6', 'item7', 'item8'}

st3 = set1.union(set2)

In [38]:
st3

{'item1', 'item2', 'item3', 'item4', 'item5', 'item6', 'item7', 'item8'}

In [39]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = {'tomato', 'potato', 'cabbage','onion', 'carrot'}
print(fruits.union(vegetables))

{'banana', 'carrot', 'lemon', 'potato', 'onion', 'orange', 'tomato', 'cabbage', 'mango'}

In [40]:
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item3', 'item2'}

st1.intersection(st2)

{'item2', 'item3'}

In [41]:
st2.intersection(st1)

{'item2', 'item3'}

In [42]:
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item2', 'item3'}

st2.issubset(st1) # True
st1.issuperset(st2)

True

In [43]:
st1.issuperset(st2)

True

In [44]:
st2.issubset(st1)

True

In [45]:
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item2', 'item3'}


st2.difference(st1) # set()
st1.difference(st2)

{'item1', 'item4'}

In [46]:
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item2', 'item3'}


# it means (A\B)∪(B\A)
st2.symmetric_difference(st1)

{'item1', 'item4'}

In [47]:
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item2', 'item3'}


st2.isdisjoint(st1)

False

In [48]:
st1.isdisjoint(st2)

False

In [49]:
set1 = {"py", 45, 5.80, True}

In [50]:
set1[2]

TypeError: 'set' object is not subscriptable

In [51]:
set1[:]

TypeError: 'set' object is not subscriptable

In [52]:
set1[1] = 55

TypeError: 'set' object does not support item assignment

In [ ]:
### Exercises: Level 1

1. Find the length of the set it_companies
2. Add 'Twitter' to it_companies
3. Insert multiple IT companies at once to the set it_companies
4. Remove one of the companies from the set it_companies
5. What is the difference between remove and discard

### Exercises: Level 2

1. Join A and B
1. Find A intersection B
1. Is A subset of B
1. Are A and B disjoint sets
1. Join A with B and B with A
1. What is the symmetric difference between A and B
1. Delete the sets completely

### Exercises: Level 3

1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
1. Explain the difference between the following data types: string, list, tuple and set
2. _I am a teacher and I love to inspire and teach people._ How many unique words have been used in the sentence? Use the split methods and set to get the unique words.