In [2]:
# Day 4

## Strings

# Text is a string data type. Any data type written as text is a string. Any data under single, double or triple quote are strings. There are different string methods and built-in functions to deal with string data types. To check the length of a string use the len() method.

### Creating a String


letter = 'P'                # A string could be a single character or a bunch of texts
print(letter)               # P
print(len(letter))          # 1

greeting = 'Hello, World!'  # String could be made using a single or double quote,"Hello, World!"
print(greeting)             # Hello, World!
print(len(greeting))        # 13

sentence = "I hope you are enjoying 30 days of Python Challenge"
print(sentence)
print(len(sentence))

P
1
Hello, World!
13
I hope you are enjoying 30 days of Python Challenge
51

In [3]:
# Multiline string is created by using triple single (''') or triple double quotes ("""). See the example below.


multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.'''

print(multiline_string)

# Another way of doing the same thing
multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python."""
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.
I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.
I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.

In [ ]:
### String Concatenation

#We can connect strings together. Merging or connecting strings is called concatenation. See the example below:


first_name = 'Asabeneh'
last_name = 'Yetayeh'
space = ' '
full_name = first_name  +  space + last_name
print(full_name) # Asabeneh Yetayeh
# Checking the length of a string using len() built-in function
print(len(first_name))  # 8
print(len(last_name))   # 7
print(len(first_name) > len(last_name)) # True
print(len(full_name)) # 16

In [4]:
1 +1 # adding

2

In [5]:
"1" + "1" # concatination

'11'

In [21]:
first = "amit"
last = "kumar"
space = " "
var = "&"

In [22]:
first + var  + last

'amit&kumar'

In [13]:
full_name = first + " "+ last

In [14]:
full_name

'amit kumar'

In [19]:
var1 = 2874

In [20]:
var1

2874

In [ ]:
### Escape Sequences in Strings

# In Python and other programming languages \ followed by a character is an escape sequence. Let us see the most common escape characters:

- \n: new line
- \t: Tab means(8 spaces)
- \\\\: Back slash
- \\': Single quote (')
- \\": Double quote (")

In [23]:
print('I hope everyone is enjoying the Python Challenge.\nAre you ?') # line break

I hope everyone is enjoying the Python Challenge.
Are you ?

In [24]:
print('Days\tTopics\tExercises') # adding tab space or 4 spaces

Days	Topics	Exercises

In [25]:
print('Day 1\t5\t5')

Day 1	5	5

In [34]:
print('Day2\t6\t20')

Day2	6	20

In [27]:
print('This is a backslash  symbol (\\)') # To write a backslash

This is a backslash  symbol (\)

In [29]:
print('In every programming language it starts with \\"Hello, World!\"') # to write a double quote inside a single quote

In every programming language it starts with \"Hello, World!"

In [ ]:
### String formatting

#### Old Style String Formatting (% Operator)

#In Python there are many ways of formatting strings. In this section, we will cover some of them.
#The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s", "%d", "%f", "%.<small>number of digits</small>f".

- %s - String (or any object with a string representation, like numbers)
- %d - Integers
- %f - Floating point numbers
- "%.<small>number of digits</small>f" - Floating point numbers with fixed precision

In [36]:
# Strings only
first_name = 'Asabeneh'
last_name = 'Yetayeh'
language = 'Python'

In [38]:
formated_string = 'I am %s %s. I teach %s' %(first_name, last_name, language)

In [39]:
print(formated_string)

I am Asabeneh Yetayeh. I teach Python

In [40]:
# Strings  and numbers
radius = 10
pi = 3.14
area = pi * radius ** 2

In [43]:
area

314.0

In [57]:
formated_string = 'The area of circle with a radius %d is %.f' %(radius, area) # 2 refers the 2 significant digits after the point

In [58]:
print(formated_string)

The area of circle with a radius 10 is 314

In [59]:
python_libraries = ['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']
formated_string = 'The following are python libraries:%s' % (python_libraries)
print(formated_string) # "The following are python libraries:['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']"

The following are python libraries:['Django', 'Flask', 'NumPy', 'Matplotlib', 'Pandas']

In [60]:
print('The following are python libraries:', python_libraries)

The following are python libraries: ['Django', 'Flask', 'NumPy', 'Matplotlib', 'Pandas']

In [76]:
#### New Style String Formatting (str.format)

#This formatting is introduced in Python version 3.



first_name = 'Amit'
last_name = 'kumar'
language = 'Python'

formated_string = 'I am {} {}. I teach {}'.format(first_name, last_name, language)
print(formated_string)

I am Amit kumar. I teach Python

In [68]:
a = 10
b = 20

In [69]:
print('{} + {} = {}'.format(a, b, a + b))

print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) # limits it to two digits after decimal
print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b))

10 + 20 = 30
10 - 20 = -10
10 * 20 = 200
10 / 20 = 0.50
10 % 20 = 10
10 // 20 = 0
10 ** 20 = 100000000000000000000

In [70]:
print('{} + {} = {}'.format(a, b, a + b))

10 + 20 = 30

In [71]:
print('{} - {} = {}'.format(a, b, a - b))

10 - 20 = -10

In [80]:
# Strings  and numbers
radius = 10
pi = 3.14
area = pi * radius ** 2

formated_string = 'The area of a circle with a radius {} is {:.2f}.'.format(radius, area) # 2 digits after decimal
print(formated_string)

The area of a circle with a radius 10 is 314.00.

In [81]:
#### String Interpolation / f-Strings (Python 3.6+)

#Another new string formatting is string interpolation, f-strings. Strings start with f and we can inject the data in their corresponding positions.


a = 4
b = 3

print(f'{a} + {b} = {a +b}')

4 + 3 = 7

In [82]:
print(f'{a} - {b} = {a - b}')
print(f'{a} * {b} = {a * b}')
print(f'{a} / {b} = {a / b:.2f}')
print(f'{a} % {b} = {a % b}')
print(f'{a} // {b} = {a // b}')
print(f'{a} ** {b} = {a ** b}')

4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

In [85]:
### Python Strings as Sequences of Characters

# Python strings are sequences of characters, and share their basic methods of access with other Python ordered sequences of objects – lists and tuples. The simplest way of extracting single characters from strings (and individual members from any sequence) is to unpack them into corresponding variables.

#### Unpacking Characters


language = 'Python'

a,b,c,d,e,f = language # unpacking sequence characters into variables
print(a) # P
print(b) # y
print(c) # t
print(d) # h
print(e) # o
print(f) # n

P
y
t
h
o
n

In [87]:
#### Accessing Characters in Strings by Index

#In programming counting starts from zero. Therefore the first letter of a string is at zero index and the last letter of a string is the length of a string minus one.

language = 'Python'

first_letter = language[0]

print(first_letter) # P

P

In [88]:
second_letter = language[1]
print(second_letter) # y

y

In [89]:
last_index = len(language) - 1
last_letter = language[last_index]
print(last_letter) # n

n

In [95]:
len(language)-1

5

In [96]:
language[len(language)-1]

'n'

In [97]:
#If we want to start from right end we can use negative indexing. -1 is the last index.

language = 'Python'

last_letter = language[-1]
print(last_letter) # n

second_last = language[-2]
print(second_last) # o

n
o

In [98]:
language[-6]

'P'

In [99]:
#### Slicing Python Strings

# In python we can slice strings into substrings.


language = 'Python'
first_three = language[0:3] # starts at zero index and up to 3 but not include 3
print(first_three) #Pyt
last_three = language[3:6]
print(last_three) # hon
# Another way
last_three = language[-3:]
print(last_three)   # hon
last_three = language[3:]
print(last_three)   # hon

Pyt
hon
hon
hon

In [100]:
language = 'Python'

In [101]:
language[:]

'Python'

In [102]:
language[1:]

'ython'

In [105]:
language[1:5]

'ytho'

In [106]:
language[:4]

'Pyth'

In [107]:
language[2:]

'thon'

In [108]:
language[::-1]

'nohtyP'

In [109]:
var = "python is data science language"

In [110]:
var[3:]

'hon is data science language'

In [112]:
var[3:15]

'hon is data '

In [113]:
var[1:20:2]

'yhni aasin'

In [114]:
var[::3]

'ph  tseeaue'

In [115]:
var[::-1]

'egaugnal ecneics atad si nohtyp'

In [116]:
var[::-2]

'eaga cec tds otp'

In [117]:
var[::-5]

'encsdnp'

In [119]:
#### Reversing a String

#We can easily reverse strings in python.


greeting = 'Hello, World!'
print(greeting[::-1]) # !dlroW ,olleH


#### Skipping Characters While Slicing

#It is possible to skip characters while slicing by passing step argument to slice method.


language = 'Python'
pto = language[0:6:2] #
print(pto) # Pto

!dlroW ,olleH
Pto