In [1]:
tup = ('banana', 'orange', 'mango', 'lemon', 'apple', 'lime')

In [2]:
tup[2]

'mango'

In [3]:
tup[:]

('banana', 'orange', 'mango', 'lemon', 'apple', 'lime')

In [4]:
tup[3:]

('lemon', 'apple', 'lime')

In [5]:
tup[1:4]

('orange', 'mango', 'lemon')

In [6]:
tup[::-1]

('lime', 'apple', 'lemon', 'mango', 'orange', 'banana')

In [7]:
tup + tup

('banana',
 'orange',
 'mango',
 'lemon',
 'apple',
 'lime',
 'banana',
 'orange',
 'mango',
 'lemon',
 'apple',
 'lime')

In [9]:
tup*4

('banana',
 'orange',
 'mango',
 'lemon',
 'apple',
 'lime',
 'banana',
 'orange',
 'mango',
 'lemon',
 'apple',
 'lime',
 'banana',
 'orange',
 'mango',
 'lemon',
 'apple',
 'lime',
 'banana',
 'orange',
 'mango',
 'lemon',
 'apple',
 'lime')

In [10]:
tup

('banana', 'orange', 'mango', 'lemon', 'apple', 'lime')

In [11]:
tup[1] = "chiku"

TypeError: 'tuple' object does not support item assignment

In [13]:
list1 = list(tup)

In [14]:
list1

['banana', 'orange', 'mango', 'lemon', 'apple', 'lime']

In [16]:
"lemon" in tup

True

In [17]:
tup.count("lime")

1

In [19]:
tup.index("apple")

4

In [20]:
tup1 = (1, 2.4, True, [1,2,3,6], "name", {"py", "c++"})

In [21]:
tup1

(1, 2.4, True, [1, 2, 3, 6], 'name', {'c++', 'py'})

In [ ]:
### Exercises: Level 1

1. Create an empty tuple
2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
3. Join brothers and sisters tuples and assign it to siblings
4. How many siblings do you have?
5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [ ]:
### Exercises: Level 2

1. Unpack siblings and parents from family_members
1. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.
1. Change the about food_stuff_tp  tuple to a food_stuff_lt list
1. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
1. Slice out the first three items and the last three items from food_staff_lt list
1. Delete the food_staff_tp tuple completely
1. Check if an item exists in  tuple:

- Check if 'Estonia' is a nordic country
- Check if 'Iceland' is a nordic country

  ```py
  nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')